################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mod
/obj
/bin/Debug/netstandard2.1
